
<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>   

   <main class = "container1">

    <!-- section 1 referencia palavra - cliente  -->
      <section class="container col-12">
                <img src="/images/principal.jpg" class="card-img-top" alt="...">
                <div class="card-bodycliente">
                  <h5 class="titlecliente my-10 col-12">Deixe o seu cliente <br> escolher onde ele <br> quer sentar !</h5>
                  <div class="jeitosimples">
                  <p class="cliente col-12">rezerva é o jeito simples <br> de administrar a ocupação <br> do seu restaurante</p>                      
                  </div>
                  <a href="admins/create" class="btn btn-second ml-auto" role="button">Sou administrador</a>
                </div>
    </section> 

     <!-- section 2 - referencia palavra - rezerva  -->  
       
    <div class="general">
    <div class="container2 col-12">      
    <div class="col-lg-12">
      <h1 class="text-center text-white">Com o rezerva você poderá</h1>
    </div>
    <div class="card-deck ml-auto col-12">  
    <!-- nota: para pegar a imagem (objeto=>card + caminho da imagem) -->
     <% cards.forEach(card => {%> 
      <!-- <div class="col-lg-12"> -->

             <div class="col sm-2 col-md-6 col-lg-3 mt-1">
              <div class="card">
                <img src="<%= card.caminho_de_imagem %> " class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= card.titulo %> </h5>
                  <p class="card-text"><%= card.texto %></p> 
                  <!-- <a href="/restaurants" class="btn btn-second ml-auto" role="button">Visitar</a>                      -->
                </div>
              </div>
            </div> 
          
        
      <% })%>
    
      </div> 
      </div>
      </div>
      </div>   
      </div>          

  <!-- section 3 - referencia palavra - Cadastre -->
  <section class="container3">   
    <div class="row">
    <div class="col-12">
      <h3 class="text-center">Cadastre seu <br> restaurante agora</h3>
    </div> 

      <div class="col-12">
      <div class="text-center">É simples e prático: clique no botão abaixo e preencha os <br> dados. Dentro de poucos minutos sua página já estará no ar e <br>você poderá divulgar em todos os canais de comunicação mais conhecidos</div>
      </div>

      <div class="botaocadastre ml-auto mr-auto">
      <button type="submit" class="btn btn-third">Cadastre-se</button>
      </div>
    </section>

  <!-- section 4 - referencia palavra - clientes-->
  <section class="container4 col-12 ml-auto"> 

  <form action="/restaurants">
  <div class="row mb-3">
  <div class="col-12 my-5">
  <h1 class="text-center text-white font-weight: bold" >O que os clientes <br> estão dizendo</h1>
  </div>

     <% amandas.forEach(amanda => {%> 
              <div class="amandaprincipal col-9 ml-auto mr-auto mt-3">
                <img src="<%= amanda.caminho_de_imagem %> " class="clientes4" alt="...">  
                <div class="amandatexto col-9 ml-3">
                  <h5 class="amanda"><%= amanda.titulo %> </h5>
                  <p class="amandarmassa"><%= amanda.texto %></p>                      
                </div>           
              </div>                               

      <% })%>

  <!-- <div class="botaocadastre ml-auto">
  <button type="submit" class="btn btn-third">Rezervar</button>
  </div> -->
  </form>

  </section>
  </div>    
 
</main>
  <!-- area footer -->
  <%- include('./partials/footer'); %> 
  </body>

</html>


