<<<<<<< HEAD

<%- include('./partials/header'); %>
  
=======
<%- include('./partials/headcreate'); %> 
<%- include('./partials/headerclean'); %> 
>>>>>>> 7328e241062f987949c8ff3830e9a7e489daecd1

<!-- <link rel='stylesheet' href='stylesheets/stylebooking.css' /> -->

<main class="container">

    <section class="mt-3" id="rezervas">
      <!-- <h1>Rezerva</h1> -->
      <p>Olá <%= user.name %>! Confira abaixo a lista de rezervas</p>
  
      <% if(typeof deleted !== 'undefined'){ %> 
        <div class="col-md-12 alert alert-success">
          Rezerva excluída com sucesso
        </div>
      <% } %>    
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Horario</th>
            <th scope="col">Data</th>
            <th scope="col">Adulto</th>
            <th scope="col">Crianca</th>
            <th scope="col">Setor</th>
            <th scope="col" colspan="2">Ações</th>
          </tr>
        </thead>
        <tbody>  
          <% rezervas.forEach(rezerva => { %>     
            <tr>
              <th scope="row"><%= rezerva.id %> </th>
              <td><%= rezerva.Horario %> </td>
              <td><%= rezerva.DataString %> </td>
              <td><%= rezerva.Adulto %> </td>
              <td><%= rezerva.Crianca %> </td>
              <td><%= rezerva.Setor %> </td>
              <td>
                <a href="/rezervas/edit/<%= rezerva.id %>">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
              <td>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-<%= rezerva.id %>">
                  <i class="fas fa-trash"></i>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="modal-<%= rezerva.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Exclusão de rezerva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Deseja realmente excluir a rezerva <%= rezerva.id%> ? <br><br>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="/rezervas/delete/<%= rezerva.id %>">
                          <button type="button" class="btn btn-danger">Confirmar</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  </main>

<!-- area footer -->
<%- include('./partials/footer'); %>
</body>
</html>
